[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=CellWriter
Name[ar]=CellWriter
Name[ast]=CellWriter
Name[be]=CellWriter
Name[bg]=CellWriter
Name[bn]=CellWriter
Name[br]=CellWriter
Name[bs]=CellWriter
Name[ca]=CellWriter
Name[cs]=CellWriter
Name[da]=CellWriter
Name[de]=CellWriter
Name[dz]=CellWriter
Name[el]=CellWriter
Name[eo]=CellWriter
Name[es]=CellWriter
Name[et]=CellWriter
Name[eu]=CellWriter
Name[fi]=CellWriter
Name[fr]=CellWriter
Name[ga]=CellWriter
Name[gl]=CellWriter
Name[gu]=CellWriter
Name[he]=CellWriter
Name[hi]=CellWriter
Name[hr]=CellWriter
Name[hu]=CellWriter
Name[id]=CellWriter
Name[it]=CellWriter
Name[ja]=CellWriter
Name[ka]=CellWriter
Name[kk]=CellWriter
Name[km]=CellWriter
Name[ko]=CellWriter
Name[ku]=CellWriter
Name[lt]=CellWriter
Name[mk]=CellWriter
Name[ml]=CellWriter
Name[mr]=CellWriter
Name[nb]=CellWriter
Name[ne]=CellWriter
Name[nl]=CellWriter
Name[nn]=CellWriter
Name[pa]=CellWriter
Name[pl]=CellWriter
Name[pt]=CellWriter
Name[pt_BR]=CellWriter
Name[ro]=CellWriter
Name[ru]=CellWriter
Name[sk]=CellWriter
Name[sq]=CellWriter
Name[sv]=CellWriter
Name[ta]=CellWriter
Name[th]=CellWriter
Name[tl]=CellWriter
Name[tr]=CellWriter
Name[uk]=CellWriter
Name[vi]=CellWriter
Name[wo]=CellWriter
Name[zh_CN]=CellWriter
Name[zh_TW]=CellWriter
Icon=/usr/share/pixmaps/cellwriter.xpm
Exec=/usr/bin/cellwriter
Terminal=false
Categories=X-Debian-Applications-Accessibility;
