[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenOffice.org Impress
Name[ar]=OpenOffice.org Impress
Name[ast]=OpenOffice.org Impress
Name[be]=OpenOffice.org Impress
Name[bg]=OpenOffice.org Impress
Name[bn]=OpenOffice.org Impress
Name[br]=OpenOffice.org Impress
Name[bs]=OpenOffice.org Impress
Name[ca]=OpenOffice.org Impress
Name[cs]=OpenOffice.org Impress
Name[da]=OpenOffice.org Impress
Name[de]=OpenOffice.org Impress
Name[dz]=OpenOffice.org Impress
Name[el]=OpenOffice.org Impress
Name[eo]=OpenOffice.org Impress
Name[es]=OpenOffice.org Impress
Name[et]=OpenOffice.org Impress
Name[eu]=OpenOffice.org Impress
Name[fi]=OpenOffice.org Impress
Name[fr]=OpenOffice.org Impress
Name[ga]=OpenOffice.org Impress
Name[gl]=OpenOffice.org Impress
Name[gu]=OpenOffice.org Impress
Name[he]=OpenOffice.org Impress
Name[hi]=OpenOffice.org Impress
Name[hr]=OpenOffice.org Impress
Name[hu]=OpenOffice.org Impress
Name[id]=OpenOffice.org Impress
Name[it]=OpenOffice.org Impress
Name[ja]=OpenOffice.org Impress
Name[ka]=OpenOffice.org Impress
Name[kk]=OpenOffice.org Impress
Name[km]=OpenOffice.org Impress
Name[ko]=OpenOffice.org Impress
Name[ku]=OpenOffice.org Impress
Name[lt]=OpenOffice.org Impress
Name[mk]=OpenOffice.org Impress
Name[ml]=OpenOffice.org Impress
Name[mr]=OpenOffice.org Impress
Name[nb]=OpenOffice.org Impress
Name[ne]=OpenOffice.org Impress
Name[nl]=OpenOffice.org Impress
Name[nn]=OpenOffice.org Impress
Name[pa]=OpenOffice.org Impress
Name[pl]=OpenOffice.org Impress
Name[pt]=OpenOffice.org Impress
Name[pt_BR]=OpenOffice.org Impress
Name[ro]=OpenOffice.org Impress
Name[ru]=OpenOffice.org Impress
Name[sk]=OpenOffice.org Impress
Name[sq]=OpenOffice.org Impress
Name[sv]=OpenOffice.org Impress
Name[ta]=OpenOffice.org Impress
Name[th]=OpenOffice.org Impress
Name[tl]=OpenOffice.org Impress
Name[tr]=OpenOffice.org Impress
Name[uk]=OpenOffice.org Impress
Name[vi]=OpenOffice.org Impress
Name[wo]=OpenOffice.org Impress
Name[zh_CN]=OpenOffice.org Impress
Name[zh_TW]=OpenOffice.org Impress
Icon=/usr/share/icons/hicolor/32x32/apps/openofficeorg3-impress.xpm
Exec=/usr/bin/ooimpress
Terminal=false
Categories=X-Debian-Applications-Office;
