[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gedit
Name[ar]=Gedit
Name[ast]=Gedit
Name[be]=Gedit
Name[bg]=Gedit
Name[bn]=Gedit
Name[br]=Gedit
Name[bs]=Gedit
Name[ca]=Gedit
Name[cs]=Gedit
Name[da]=Gedit
Name[de]=Gedit
Name[dz]=Gedit
Name[el]=Gedit
Name[eo]=Gedit
Name[es]=Gedit
Name[et]=Gedit
Name[eu]=Gedit
Name[fi]=Gedit
Name[fr]=Gedit
Name[ga]=Gedit
Name[gl]=Gedit
Name[gu]=Gedit
Name[he]=Gedit
Name[hi]=Gedit
Name[hr]=Gedit
Name[hu]=Gedit
Name[id]=Gedit
Name[it]=Gedit
Name[ja]=Gedit
Name[ka]=Gedit
Name[kk]=Gedit
Name[km]=Gedit
Name[ko]=Gedit
Name[ku]=Gedit
Name[lt]=Gedit
Name[mk]=Gedit
Name[ml]=Gedit
Name[mr]=Gedit
Name[nb]=Gedit
Name[ne]=Gedit
Name[nl]=Gedit
Name[nn]=Gedit
Name[pa]=Gedit
Name[pl]=Gedit
Name[pt]=Gedit
Name[pt_BR]=Gedit
Name[ro]=Gedit
Name[ru]=Gedit
Name[sk]=Gedit
Name[sq]=Gedit
Name[sv]=Gedit
Name[ta]=Gedit
Name[th]=Gedit
Name[tl]=Gedit
Name[tr]=Gedit
Name[uk]=Gedit
Name[vi]=Gedit
Name[wo]=Gedit
Name[zh_CN]=Gedit
Name[zh_TW]=Gedit
Comment=Light-weight GNOME text editor
Comment[ar]=Light-weight GNOME text editor
Comment[ast]=Light-weight GNOME text editor
Comment[be]=Light-weight GNOME text editor
Comment[bg]=Light-weight GNOME text editor
Comment[bn]=Light-weight GNOME text editor
Comment[br]=Light-weight GNOME text editor
Comment[bs]=Light-weight GNOME text editor
Comment[ca]=Light-weight GNOME text editor
Comment[cs]=Light-weight GNOME text editor
Comment[da]=Light-weight GNOME text editor
Comment[de]=Light-weight GNOME text editor
Comment[dz]=Light-weight GNOME text editor
Comment[el]=Light-weight GNOME text editor
Comment[eo]=Light-weight GNOME text editor
Comment[es]=Light-weight GNOME text editor
Comment[et]=Light-weight GNOME text editor
Comment[eu]=Light-weight GNOME text editor
Comment[fi]=Light-weight GNOME text editor
Comment[fr]=Light-weight GNOME text editor
Comment[ga]=Light-weight GNOME text editor
Comment[gl]=Light-weight GNOME text editor
Comment[gu]=Light-weight GNOME text editor
Comment[he]=Light-weight GNOME text editor
Comment[hi]=Light-weight GNOME text editor
Comment[hr]=Light-weight GNOME text editor
Comment[hu]=Light-weight GNOME text editor
Comment[id]=Light-weight GNOME text editor
Comment[it]=Light-weight GNOME text editor
Comment[ja]=Light-weight GNOME text editor
Comment[ka]=Light-weight GNOME text editor
Comment[kk]=Light-weight GNOME text editor
Comment[km]=Light-weight GNOME text editor
Comment[ko]=Light-weight GNOME text editor
Comment[ku]=Light-weight GNOME text editor
Comment[lt]=Light-weight GNOME text editor
Comment[mk]=Light-weight GNOME text editor
Comment[ml]=Light-weight GNOME text editor
Comment[mr]=Light-weight GNOME text editor
Comment[nb]=Light-weight GNOME text editor
Comment[ne]=Light-weight GNOME text editor
Comment[nl]=Light-weight GNOME text editor
Comment[nn]=Light-weight GNOME text editor
Comment[pa]=Light-weight GNOME text editor
Comment[pl]=Light-weight GNOME text editor
Comment[pt]=Light-weight GNOME text editor
Comment[pt_BR]=Light-weight GNOME text editor
Comment[ro]=Light-weight GNOME text editor
Comment[ru]=Light-weight GNOME text editor
Comment[sk]=Light-weight GNOME text editor
Comment[sq]=Light-weight GNOME text editor
Comment[sv]=Light-weight GNOME text editor
Comment[ta]=Light-weight GNOME text editor
Comment[th]=Light-weight GNOME text editor
Comment[tl]=Light-weight GNOME text editor
Comment[tr]=Light-weight GNOME text editor
Comment[uk]=Light-weight GNOME text editor
Comment[vi]=Light-weight GNOME text editor
Comment[wo]=Light-weight GNOME text editor
Comment[zh_CN]=Light-weight GNOME text editor
Comment[zh_TW]=Light-weight GNOME text editor
Icon=/usr/share/pixmaps/gedit-icon.xpm
Exec=/usr/bin/gedit
Terminal=false
Categories=X-Debian-Applications-Editors;
