[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenOffice.org Draw
Name[ar]=OpenOffice.org Draw
Name[ast]=OpenOffice.org Draw
Name[be]=OpenOffice.org Draw
Name[bg]=OpenOffice.org Draw
Name[bn]=OpenOffice.org Draw
Name[br]=OpenOffice.org Draw
Name[bs]=OpenOffice.org Draw
Name[ca]=OpenOffice.org Draw
Name[cs]=OpenOffice.org Draw
Name[da]=OpenOffice.org Draw
Name[de]=OpenOffice.org Draw
Name[dz]=OpenOffice.org Draw
Name[el]=OpenOffice.org Draw
Name[eo]=OpenOffice.org Draw
Name[es]=OpenOffice.org Draw
Name[et]=OpenOffice.org Draw
Name[eu]=OpenOffice.org Draw
Name[fi]=OpenOffice.org Draw
Name[fr]=OpenOffice.org Draw
Name[ga]=OpenOffice.org Draw
Name[gl]=OpenOffice.org Draw
Name[gu]=OpenOffice.org Draw
Name[he]=OpenOffice.org Draw
Name[hi]=OpenOffice.org Draw
Name[hr]=OpenOffice.org Draw
Name[hu]=OpenOffice.org Draw
Name[id]=OpenOffice.org Draw
Name[it]=OpenOffice.org Draw
Name[ja]=OpenOffice.org Draw
Name[ka]=OpenOffice.org Draw
Name[kk]=OpenOffice.org Draw
Name[km]=OpenOffice.org Draw
Name[ko]=OpenOffice.org Draw
Name[ku]=OpenOffice.org Draw
Name[lt]=OpenOffice.org Draw
Name[mk]=OpenOffice.org Draw
Name[ml]=OpenOffice.org Draw
Name[mr]=OpenOffice.org Draw
Name[nb]=OpenOffice.org Draw
Name[ne]=OpenOffice.org Draw
Name[nl]=OpenOffice.org Draw
Name[nn]=OpenOffice.org Draw
Name[pa]=OpenOffice.org Draw
Name[pl]=OpenOffice.org Draw
Name[pt]=OpenOffice.org Draw
Name[pt_BR]=OpenOffice.org Draw
Name[ro]=OpenOffice.org Draw
Name[ru]=OpenOffice.org Draw
Name[sk]=OpenOffice.org Draw
Name[sq]=OpenOffice.org Draw
Name[sv]=OpenOffice.org Draw
Name[ta]=OpenOffice.org Draw
Name[th]=OpenOffice.org Draw
Name[tl]=OpenOffice.org Draw
Name[tr]=OpenOffice.org Draw
Name[uk]=OpenOffice.org Draw
Name[vi]=OpenOffice.org Draw
Name[wo]=OpenOffice.org Draw
Name[zh_CN]=OpenOffice.org Draw
Name[zh_TW]=OpenOffice.org Draw
Icon=/usr/share/icons/hicolor/32x32/apps/openofficeorg3-draw.xpm
Exec=/usr/bin/oodraw
Terminal=false
Categories=X-Debian-Applications-Graphics;
