[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=xvkbd
Name[ar]=xvkbd
Name[ast]=xvkbd
Name[be]=xvkbd
Name[bg]=xvkbd
Name[bn]=xvkbd
Name[br]=xvkbd
Name[bs]=xvkbd
Name[ca]=xvkbd
Name[cs]=xvkbd
Name[da]=xvkbd
Name[de]=xvkbd
Name[dz]=xvkbd
Name[el]=xvkbd
Name[eo]=xvkbd
Name[es]=xvkbd
Name[et]=xvkbd
Name[eu]=xvkbd
Name[fi]=xvkbd
Name[fr]=xvkbd
Name[ga]=xvkbd
Name[gl]=xvkbd
Name[gu]=xvkbd
Name[he]=xvkbd
Name[hi]=xvkbd
Name[hr]=xvkbd
Name[hu]=xvkbd
Name[id]=xvkbd
Name[it]=xvkbd
Name[ja]=xvkbd
Name[ka]=xvkbd
Name[kk]=xvkbd
Name[km]=xvkbd
Name[ko]=xvkbd
Name[ku]=xvkbd
Name[lt]=xvkbd
Name[mk]=xvkbd
Name[ml]=xvkbd
Name[mr]=xvkbd
Name[nb]=xvkbd
Name[ne]=xvkbd
Name[nl]=xvkbd
Name[nn]=xvkbd
Name[pa]=xvkbd
Name[pl]=xvkbd
Name[pt]=xvkbd
Name[pt_BR]=xvkbd
Name[ro]=xvkbd
Name[ru]=xvkbd
Name[sk]=xvkbd
Name[sq]=xvkbd
Name[sv]=xvkbd
Name[ta]=xvkbd
Name[th]=xvkbd
Name[tl]=xvkbd
Name[tr]=xvkbd
Name[uk]=xvkbd
Name[vi]=xvkbd
Name[wo]=xvkbd
Name[zh_CN]=xvkbd
Name[zh_TW]=xvkbd
Comment=X Virtual Keyboard
Comment[ar]=X Virtual Keyboard
Comment[ast]=X Virtual Keyboard
Comment[be]=X Virtual Keyboard
Comment[bg]=X Virtual Keyboard
Comment[bn]=X Virtual Keyboard
Comment[br]=X Virtual Keyboard
Comment[bs]=X Virtual Keyboard
Comment[ca]=X Virtual Keyboard
Comment[cs]=X Virtual Keyboard
Comment[da]=X Virtual Keyboard
Comment[de]=X Virtual Keyboard
Comment[dz]=X Virtual Keyboard
Comment[el]=X Virtual Keyboard
Comment[eo]=X Virtual Keyboard
Comment[es]=X Virtual Keyboard
Comment[et]=X Virtual Keyboard
Comment[eu]=X Virtual Keyboard
Comment[fi]=X Virtual Keyboard
Comment[fr]=X Virtual Keyboard
Comment[ga]=X Virtual Keyboard
Comment[gl]=X Virtual Keyboard
Comment[gu]=X Virtual Keyboard
Comment[he]=X Virtual Keyboard
Comment[hi]=X Virtual Keyboard
Comment[hr]=X Virtual Keyboard
Comment[hu]=X Virtual Keyboard
Comment[id]=X Virtual Keyboard
Comment[it]=X Virtual Keyboard
Comment[ja]=X Virtual Keyboard
Comment[ka]=X Virtual Keyboard
Comment[kk]=X Virtual Keyboard
Comment[km]=X Virtual Keyboard
Comment[ko]=X Virtual Keyboard
Comment[ku]=X Virtual Keyboard
Comment[lt]=X Virtual Keyboard
Comment[mk]=X Virtual Keyboard
Comment[ml]=X Virtual Keyboard
Comment[mr]=X Virtual Keyboard
Comment[nb]=X Virtual Keyboard
Comment[ne]=X Virtual Keyboard
Comment[nl]=X Virtual Keyboard
Comment[nn]=X Virtual Keyboard
Comment[pa]=X Virtual Keyboard
Comment[pl]=X Virtual Keyboard
Comment[pt]=X Virtual Keyboard
Comment[pt_BR]=X Virtual Keyboard
Comment[ro]=X Virtual Keyboard
Comment[ru]=X Virtual Keyboard
Comment[sk]=X Virtual Keyboard
Comment[sq]=X Virtual Keyboard
Comment[sv]=X Virtual Keyboard
Comment[ta]=X Virtual Keyboard
Comment[th]=X Virtual Keyboard
Comment[tl]=X Virtual Keyboard
Comment[tr]=X Virtual Keyboard
Comment[uk]=X Virtual Keyboard
Comment[vi]=X Virtual Keyboard
Comment[wo]=X Virtual Keyboard
Comment[zh_CN]=X Virtual Keyboard
Comment[zh_TW]=X Virtual Keyboard
Exec=/usr/bin/xvkbd
Terminal=false
Categories=X-Debian-Applications-Accessibility;
