[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenOffice.org Calc
Name[ar]=OpenOffice.org Calc
Name[ast]=OpenOffice.org Calc
Name[be]=OpenOffice.org Calc
Name[bg]=OpenOffice.org Calc
Name[bn]=OpenOffice.org Calc
Name[br]=OpenOffice.org Calc
Name[bs]=OpenOffice.org Calc
Name[ca]=OpenOffice.org Calc
Name[cs]=OpenOffice.org Calc
Name[da]=OpenOffice.org Calc
Name[de]=OpenOffice.org Calc
Name[dz]=OpenOffice.org Calc
Name[el]=OpenOffice.org Calc
Name[eo]=OpenOffice.org Calc
Name[es]=OpenOffice.org Calc
Name[et]=OpenOffice.org Calc
Name[eu]=OpenOffice.org Calc
Name[fi]=OpenOffice.org Calc
Name[fr]=OpenOffice.org Calc
Name[ga]=OpenOffice.org Calc
Name[gl]=OpenOffice.org Calc
Name[gu]=OpenOffice.org Calc
Name[he]=OpenOffice.org Calc
Name[hi]=OpenOffice.org Calc
Name[hr]=OpenOffice.org Calc
Name[hu]=OpenOffice.org Calc
Name[id]=OpenOffice.org Calc
Name[it]=OpenOffice.org Calc
Name[ja]=OpenOffice.org Calc
Name[ka]=OpenOffice.org Calc
Name[kk]=OpenOffice.org Calc
Name[km]=OpenOffice.org Calc
Name[ko]=OpenOffice.org Calc
Name[ku]=OpenOffice.org Calc
Name[lt]=OpenOffice.org Calc
Name[mk]=OpenOffice.org Calc
Name[ml]=OpenOffice.org Calc
Name[mr]=OpenOffice.org Calc
Name[nb]=OpenOffice.org Calc
Name[ne]=OpenOffice.org Calc
Name[nl]=OpenOffice.org Calc
Name[nn]=OpenOffice.org Calc
Name[pa]=OpenOffice.org Calc
Name[pl]=OpenOffice.org Calc
Name[pt]=OpenOffice.org Calc
Name[pt_BR]=OpenOffice.org Calc
Name[ro]=OpenOffice.org Calc
Name[ru]=OpenOffice.org Calc
Name[sk]=OpenOffice.org Calc
Name[sq]=OpenOffice.org Calc
Name[sv]=OpenOffice.org Calc
Name[ta]=OpenOffice.org Calc
Name[th]=OpenOffice.org Calc
Name[tl]=OpenOffice.org Calc
Name[tr]=OpenOffice.org Calc
Name[uk]=OpenOffice.org Calc
Name[vi]=OpenOffice.org Calc
Name[wo]=OpenOffice.org Calc
Name[zh_CN]=OpenOffice.org Calc
Name[zh_TW]=OpenOffice.org Calc
Icon=/usr/share/icons/hicolor/32x32/apps/openofficeorg3-calc.xpm
Exec=/usr/bin/oocalc
Terminal=false
Categories=X-Debian-Applications-Office;
