[Desktop Entry]
X-AppInstall-Package=gv
X-AppInstall-Popcon=4055
X-AppInstall-Section=main

Name=gv
GenericName=PS and PDF viewer
Comment=View PS and/or PDF files
Exec=gv
Icon=_usr_share_pixmaps_gv_icon
Terminal=false
Type=Application
MimeType=application/ps;application/pdf;
Categories=Viewer;Graphics;
