[Desktop Entry]
X-AppInstall-Package=ibus
X-AppInstall-Popcon=179
X-AppInstall-Section=main

Encoding=UTF-8
Name=IBus Preferences
Name[ar]=تفضيلات IBus
Name[as]=IBus পছন্দ
Name[bn_IN]=IBus সংক্রান্ত পছন্দ
Name[ca]=Prefèrencies de l'IBus
Name[da]=Indstillinger for IBus
Name[de]=IBus-Einstellungen
Name[es]=Preferencias de IBus
Name[fr]=Préférences IBus
Name[gu]=IBus પસંદગીઓ
Name[hi]=IBus वरीयता
Name[hu]=IBus beállítás
Name[it]=Preferenze di IBus
Name[ja]=IBus の設定
Name[kn]=IBus ಆದ್ಯತೆಗಳು
Name[ko]=IBus 환경 설정  
Name[ml]=IBus മുന്‍ഗണനകള്‍
Name[mr]=IBus आवड निवड
Name[or]=IBus ପସନ୍ଦ
Name[pa]=IBus ਪਸੰਦ
Name[pl]=Preferencje programu iBus
Name[pt_BR]=Preferências do IBus
Name[ru]=Параметры IBus
Name[sr]=IBus поставке
Name[sr@latin]=IBus postavke
Name[ta]=IBus முன்னுரிமைகள்
Name[te]=IBus అభీష్టములు
Name[vi]=Tùy chọn IBus
Name[zh_CN]=IBus 设置
Name[zh_HK]=IBus 偏好設定
Name[zh_TW]=IBus 偏好設定
Comment=Set IBus Preferences
Comment[bn_IN]=IBus সংক্রান্ত পছন্দ নির্ধারণ করুন
Comment[de]=IBus-Einstellungen konfigurieren
Comment[es]=Defina las preferencias de IBus
Comment[gu]=IBus પસંદગીઓને સુયોજિત કરો
Comment[hi]=IBus वरीयताएँ सेट करें
Comment[it]=Imposta Preferenze di IBus
Comment[ja]=IBus の設定
Comment[kn]=IBus ಆದ್ಯತೆಗಳನ್ನು ಸಿದ್ಧಗೊಳಿಸು
Comment[ko]=IBus 환경 설정
Comment[ml]=IBus മുന്‍ഗണനകള്‍ സജ്ജമാക്കുക
Comment[mr]=IBus पसंती सुरू करा
Comment[or]=IBus ପସନ୍ଦଗୁଡ଼ିକୁ ସେଟକରନ୍ତୁ
Comment[pt_BR]=Definir Preferências do IBus
Comment[ru]=Настроить параметры IBus
Comment[ta]=IBus முன்னுரிமைகளை அமை
Comment[te]=IBus అభీష్టములను అమర్చుము
Comment[zh_CN]=修改IBus偏好
Comment[zh_TW]=設置 IBus 偏好設定
X-Ubuntu-Gettext-Domain=ibus
Exec=ibus-setup
Icon=ibus-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
