[Desktop Entry]
X-AppInstall-Package=lxde
X-AppInstall-Popcon=0
X-AppInstall-Section=main

Encoding=UTF-8
Type=Application
Name=Shutdown
Name[zh_TW]=關機
Comment=Shutdown or Reboot
Icon=stock_exit
Exec=lxde-logout
