[Desktop Entry]
X-AppInstall-Package=shotwell
X-AppInstall-Popcon=890
X-AppInstall-Section=main

Version=1.0
Name=Shotwell Photo Manager
GenericName=Photo Manager
Comment=Organize your photos
Exec=shotwell %U
Icon=shotwell
Terminal=false
Type=Application
MimeType=x-content/image-dcf;
Categories=Graphics;Photography;GNOME;GTK;
X-GIO-NoFuse=true
Name[fr]=Shotwell Photo Manager
GenericName[fr]=Photo Manager
Comment[fr]=Organize your photos
Name[de]=Shotwell Photo Manager
GenericName[de]=Photo Manager
Comment[de]=Organize your photos
Name[it]=Shotwell Photo Manager
GenericName[it]=Photo Manager
Comment[it]=Organize your photos
Name[es]=Shotwell Photo Manager
GenericName[es]=Photo Manager
Comment[es]=Organize your photos
Name[pl]=Shotwell Photo Manager
GenericName[pl]=Photo Manager
Comment[pl]=Organize your photos
Name[et]=Shotwell Photo Manager
GenericName[et]=Photo Manager
Comment[et]=Organize your photos
Name[sv]=Shotwell Photo Manager
GenericName[sv]=Photo Manager
Comment[sv]=Organize your photos
Name[sk]=Shotwell Photo Manager
GenericName[sk]=Photo Manager
Comment[sk]=Organize your photos
Name[lv]=Shotwell Photo Manager
GenericName[lv]=Photo Manager
Comment[lv]=Organize your photos
Name[pt]=Shotwell Photo Manager
GenericName[pt]=Photo Manager
Comment[pt]=Organize your photos
Name[bg]=Shotwell Photo Manager
GenericName[bg]=Photo Manager
Comment[bg]=Organize your photos
Name[bn]=Shotwell Photo Manager
GenericName[bn]=Photo Manager
Comment[bn]=Organize your photos
Name[nl]=Shotwell Photo Manager
GenericName[nl]=Photo Manager
Comment[nl]=Organize your photos
Name[da]=Shotwell Photo Manager
GenericName[da]=Photo Manager
Comment[da]=Organize your photos
Name[zh_CN]=Shotwell Photo Manager
GenericName[zh_CN]=Photo Manager
Comment[zh_CN]=Organize your photos
Name[el]=Shotwell Photo Manager
GenericName[el]=Photo Manager
Comment[el]=Organize your photos
Name[ru]=Shotwell Photo Manager
GenericName[ru]=Photo Manager
Comment[ru]=Organize your photos
Name[pa]=Shotwell Photo Manager
GenericName[pa]=Photo Manager
Comment[pa]=Organize your photos
Name[hu]=Shotwell Photo Manager
GenericName[hu]=Photo Manager
Comment[hu]=Organize your photos
Name[en_GB]=Shotwell Photo Manager
GenericName[en_GB]=Photo Manager
Comment[en_GB]=Organize your photos
Name[uk]=Shotwell Photo Manager
GenericName[uk]=Photo Manager
Comment[uk]=Organize your photos
Name[ja]=Shotwell Photo Manager
GenericName[ja]=Photo Manager
Comment[ja]=Organize your photos
Name[fi]=Shotwell Photo Manager
GenericName[fi]=Photo Manager
Comment[fi]=Organize your photos
Name[zh_TW]=Shotwell Photo Manager
GenericName[zh_TW]=Photo Manager
Comment[zh_TW]=Organize your photos
Name[cs]=Shotwell Photo Manager
GenericName[cs]=Photo Manager
Comment[cs]=Organize your photos
Name[nb]=Shotwell Photo Manager
GenericName[nb]=Photo Manager
Comment[nb]=Organize your photos
Name[id]=Shotwell Photo Manager
GenericName[id]=Photo Manager
Comment[id]=Organize your photos
Name[th]=Shotwell Photo Manager
GenericName[th]=Photo Manager
Comment[th]=Organize your photos
Name[sl]=Shotwell Photo Manager
GenericName[sl]=Photo Manager
Comment[sl]=Organize your photos
Name[hr]=Shotwell Photo Manager
GenericName[hr]=Photo Manager
Comment[hr]=Organize your photos
Name[ar]=Shotwell Photo Manager
GenericName[ar]=Photo Manager
Comment[ar]=Organize your photos
Name[ast]=Shotwell Photo Manager
GenericName[ast]=Photo Manager
Comment[ast]=Organize your photos
Name[ro]=Shotwell Photo Manager
GenericName[ro]=Photo Manager
Comment[ro]=Organize your photos
Name[sr]=Shotwell Photo Manager
GenericName[sr]=Photo Manager
Comment[sr]=Organize your photos
Name[lt]=Shotwell Photo Manager
GenericName[lt]=Photo Manager
Comment[lt]=Organize your photos
