[Desktop Entry]
X-AppInstall-Package=shotwell
X-AppInstall-Popcon=890
X-AppInstall-Section=main

Version=1.0
Name=Shotwell Photo Viewer
GenericName=Photo Viewer
Exec=shotwell %f
Icon=shotwell
Terminal=false
Type=Application
MimeType=image/jpeg;image/png;image/x-canon-cr2;image/x-canon-crw;image/x-fuji-raf;image/x-adobe-dng;image/x-panasonic-raw;image/x-minolta-mrw;image/x-nikon-nef;image/x-olympus-orf;image/x-pentax-pef;image/x-sony-arw;image/x-sony-srf;image/x-sony-sr2;image/x-sigma-x3f;image/x-dcraw;image/x-3fr;image/x-arw;image/x-srf;image/x-sr2;image/x-bay;image/x-crw;image/x-cr2;image/x-cap;image/x-iiq;image/x-eip;image/x-dcs;image/x-dcr;image/x-drf;image/x-k25;image/x-kdc;image/x-dng;image/x-erf;image/x-fff;image/x-mef;image/x-mos;image/x-mrw;image/x-nef;image/x-nrw;image/x-orf;image/x-ptx;image/x-pef;image/x-pxn;image/x-r3d;image/x-raf;image/x-raw;image/x-rw2;image/x-raw;image/x-rwl;image/x-rwz;image/x-x3f;
Categories=Graphics;Viewer;Photography;GNOME;GTK;
X-GIO-NoFuse=true
Name[fr]=Shotwell Photo Viewer
GenericName[fr]=Photo Viewer
Name[de]=Shotwell Photo Viewer
GenericName[de]=Photo Viewer
Name[it]=Shotwell Photo Viewer
GenericName[it]=Photo Viewer
Name[es]=Shotwell Photo Viewer
GenericName[es]=Photo Viewer
Name[pl]=Shotwell Photo Viewer
GenericName[pl]=Photo Viewer
Name[et]=Shotwell Photo Viewer
GenericName[et]=Photo Viewer
Name[sv]=Shotwell Photo Viewer
GenericName[sv]=Photo Viewer
Name[sk]=Shotwell Photo Viewer
GenericName[sk]=Photo Viewer
Name[lv]=Shotwell Photo Viewer
GenericName[lv]=Photo Viewer
Name[pt]=Shotwell Photo Viewer
GenericName[pt]=Photo Viewer
Name[bg]=Shotwell Photo Viewer
GenericName[bg]=Photo Viewer
Name[bn]=Shotwell Photo Viewer
GenericName[bn]=Photo Viewer
Name[nl]=Shotwell Photo Viewer
GenericName[nl]=Photo Viewer
Name[da]=Shotwell Photo Viewer
GenericName[da]=Photo Viewer
Name[zh_CN]=Shotwell Photo Viewer
GenericName[zh_CN]=Photo Viewer
Name[el]=Shotwell Photo Viewer
GenericName[el]=Photo Viewer
Name[ru]=Shotwell Photo Viewer
GenericName[ru]=Photo Viewer
Name[pa]=Shotwell Photo Viewer
GenericName[pa]=Photo Viewer
Name[hu]=Shotwell Photo Viewer
GenericName[hu]=Photo Viewer
Name[en_GB]=Shotwell Photo Viewer
GenericName[en_GB]=Photo Viewer
Name[uk]=Shotwell Photo Viewer
GenericName[uk]=Photo Viewer
Name[ja]=Shotwell Photo Viewer
GenericName[ja]=Photo Viewer
Name[fi]=Shotwell Photo Viewer
GenericName[fi]=Photo Viewer
Name[zh_TW]=Shotwell Photo Viewer
GenericName[zh_TW]=Photo Viewer
Name[cs]=Shotwell Photo Viewer
GenericName[cs]=Photo Viewer
Name[nb]=Shotwell Photo Viewer
GenericName[nb]=Photo Viewer
Name[id]=Shotwell Photo Viewer
GenericName[id]=Photo Viewer
Name[th]=Shotwell Photo Viewer
GenericName[th]=Photo Viewer
Name[sl]=Shotwell Photo Viewer
GenericName[sl]=Photo Viewer
Name[hr]=Shotwell Photo Viewer
GenericName[hr]=Photo Viewer
Name[ar]=Shotwell Photo Viewer
GenericName[ar]=Photo Viewer
Name[ast]=Shotwell Photo Viewer
GenericName[ast]=Photo Viewer
Name[ro]=Shotwell Photo Viewer
GenericName[ro]=Photo Viewer
Name[sr]=Shotwell Photo Viewer
GenericName[sr]=Photo Viewer
Name[lt]=Shotwell Photo Viewer
GenericName[lt]=Photo Viewer
