[Desktop Entry]
X-AppInstall-Package=terminal.app
X-AppInstall-Popcon=149
X-AppInstall-Section=main

Type=Application
Version=0.94
Categories=System;TerminalEmulator;
Name=Terminal
Comment=A terminal emulator
Icon=_usr_lib_GNUstep_Applications_Terminal.app_Resources_Terminal
Exec=Terminal
