[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenOffice.org Math
Name[ar]=OpenOffice.org Math
Name[ast]=OpenOffice.org Math
Name[be]=OpenOffice.org Math
Name[bg]=OpenOffice.org Math
Name[bn]=OpenOffice.org Math
Name[br]=OpenOffice.org Math
Name[bs]=OpenOffice.org Math
Name[ca]=OpenOffice.org Math
Name[cs]=OpenOffice.org Math
Name[da]=OpenOffice.org Math
Name[de]=OpenOffice.org Math
Name[dz]=OpenOffice.org Math
Name[el]=OpenOffice.org Math
Name[eo]=OpenOffice.org Math
Name[es]=OpenOffice.org Math
Name[et]=OpenOffice.org Math
Name[eu]=OpenOffice.org Math
Name[fi]=OpenOffice.org Math
Name[fr]=OpenOffice.org Math
Name[ga]=OpenOffice.org Math
Name[gl]=OpenOffice.org Math
Name[gu]=OpenOffice.org Math
Name[he]=OpenOffice.org Math
Name[hi]=OpenOffice.org Math
Name[hr]=OpenOffice.org Math
Name[hu]=OpenOffice.org Math
Name[id]=OpenOffice.org Math
Name[it]=OpenOffice.org Math
Name[ja]=OpenOffice.org Math
Name[ka]=OpenOffice.org Math
Name[kk]=OpenOffice.org Math
Name[km]=OpenOffice.org Math
Name[ko]=OpenOffice.org Math
Name[ku]=OpenOffice.org Math
Name[lt]=OpenOffice.org Math
Name[mk]=OpenOffice.org Math
Name[ml]=OpenOffice.org Math
Name[mr]=OpenOffice.org Math
Name[nb]=OpenOffice.org Math
Name[ne]=OpenOffice.org Math
Name[nl]=OpenOffice.org Math
Name[nn]=OpenOffice.org Math
Name[pa]=OpenOffice.org Math
Name[pl]=OpenOffice.org Math
Name[pt]=OpenOffice.org Math
Name[pt_BR]=OpenOffice.org Math
Name[ro]=OpenOffice.org Math
Name[ru]=OpenOffice.org Math
Name[sk]=OpenOffice.org Math
Name[sq]=OpenOffice.org Math
Name[sv]=OpenOffice.org Math
Name[ta]=OpenOffice.org Math
Name[th]=OpenOffice.org Math
Name[tl]=OpenOffice.org Math
Name[tr]=OpenOffice.org Math
Name[uk]=OpenOffice.org Math
Name[vi]=OpenOffice.org Math
Name[wo]=OpenOffice.org Math
Name[zh_CN]=OpenOffice.org Math
Name[zh_TW]=OpenOffice.org Math
Icon=/usr/share/icons/hicolor/32x32/apps/openofficeorg3-math.xpm
Exec=/usr/bin/oomath
Terminal=false
Categories=X-Debian-Applications-Science-Mathematics;
