[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=OpenOffice.org Writer
Name[ar]=OpenOffice.org Writer
Name[ast]=OpenOffice.org Writer
Name[be]=OpenOffice.org Writer
Name[bg]=OpenOffice.org Writer
Name[bn]=OpenOffice.org Writer
Name[br]=OpenOffice.org Writer
Name[bs]=OpenOffice.org Writer
Name[ca]=OpenOffice.org Writer
Name[cs]=OpenOffice.org Writer
Name[da]=OpenOffice.org Writer
Name[de]=OpenOffice.org Writer
Name[dz]=OpenOffice.org Writer
Name[el]=OpenOffice.org Writer
Name[eo]=OpenOffice.org Writer
Name[es]=OpenOffice.org Writer
Name[et]=OpenOffice.org Writer
Name[eu]=OpenOffice.org Writer
Name[fi]=OpenOffice.org Writer
Name[fr]=OpenOffice.org Writer
Name[ga]=OpenOffice.org Writer
Name[gl]=OpenOffice.org Writer
Name[gu]=OpenOffice.org Writer
Name[he]=OpenOffice.org Writer
Name[hi]=OpenOffice.org Writer
Name[hr]=OpenOffice.org Writer
Name[hu]=OpenOffice.org Writer
Name[id]=OpenOffice.org Writer
Name[it]=OpenOffice.org Writer
Name[ja]=OpenOffice.org Writer
Name[ka]=OpenOffice.org Writer
Name[kk]=OpenOffice.org Writer
Name[km]=OpenOffice.org Writer
Name[ko]=OpenOffice.org Writer
Name[ku]=OpenOffice.org Writer
Name[lt]=OpenOffice.org Writer
Name[mk]=OpenOffice.org Writer
Name[ml]=OpenOffice.org Writer
Name[mr]=OpenOffice.org Writer
Name[nb]=OpenOffice.org Writer
Name[ne]=OpenOffice.org Writer
Name[nl]=OpenOffice.org Writer
Name[nn]=OpenOffice.org Writer
Name[pa]=OpenOffice.org Writer
Name[pl]=OpenOffice.org Writer
Name[pt]=OpenOffice.org Writer
Name[pt_BR]=OpenOffice.org Writer
Name[ro]=OpenOffice.org Writer
Name[ru]=OpenOffice.org Writer
Name[sk]=OpenOffice.org Writer
Name[sq]=OpenOffice.org Writer
Name[sv]=OpenOffice.org Writer
Name[ta]=OpenOffice.org Writer
Name[th]=OpenOffice.org Writer
Name[tl]=OpenOffice.org Writer
Name[tr]=OpenOffice.org Writer
Name[uk]=OpenOffice.org Writer
Name[vi]=OpenOffice.org Writer
Name[wo]=OpenOffice.org Writer
Name[zh_CN]=OpenOffice.org Writer
Name[zh_TW]=OpenOffice.org Writer
Icon=/usr/share/icons/hicolor/32x32/apps/openofficeorg3-writer.xpm
Exec=/usr/bin/oowriter
Terminal=false
Categories=X-Debian-Applications-Office;
