[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Evolution
Name[ar]=Evolution
Name[ast]=Evolution
Name[be]=Evolution
Name[bg]=Evolution
Name[bn]=Evolution
Name[br]=Evolution
Name[bs]=Evolution
Name[ca]=Evolution
Name[cs]=Evolution
Name[da]=Evolution
Name[de]=Evolution
Name[dz]=Evolution
Name[el]=Evolution
Name[eo]=Evolution
Name[es]=Evolution
Name[et]=Evolution
Name[eu]=Evolution
Name[fi]=Evolution
Name[fr]=Evolution
Name[ga]=Evolution
Name[gl]=Evolution
Name[gu]=Evolution
Name[he]=Evolution
Name[hi]=Evolution
Name[hr]=Evolution
Name[hu]=Evolution
Name[id]=Evolution
Name[it]=Evolution
Name[ja]=Evolution
Name[ka]=Evolution
Name[kk]=Evolution
Name[km]=Evolution
Name[ko]=Evolution
Name[ku]=Evolution
Name[lt]=Evolution
Name[mk]=Evolution
Name[ml]=Evolution
Name[mr]=Evolution
Name[nb]=Evolution
Name[ne]=Evolution
Name[nl]=Evolution
Name[nn]=Evolution
Name[pa]=Evolution
Name[pl]=Evolution
Name[pt]=Evolution
Name[pt_BR]=Evolution
Name[ro]=Evolution
Name[ru]=Evolution
Name[sk]=Evolution
Name[sq]=Evolution
Name[sv]=Evolution
Name[ta]=Evolution
Name[th]=Evolution
Name[tl]=Evolution
Name[tr]=Evolution
Name[uk]=Evolution
Name[vi]=Evolution
Name[wo]=Evolution
Name[zh_CN]=Evolution
Name[zh_TW]=Evolution
Icon=/usr/share/pixmaps/evolution.xpm
Exec=/usr/bin/evolution
Terminal=false
Categories=X-Debian-Applications-Network-Communication;
