[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Totem
Name[ar]=Totem
Name[ast]=Totem
Name[be]=Totem
Name[bg]=Totem
Name[bn]=Totem
Name[br]=Totem
Name[bs]=Totem
Name[ca]=Totem
Name[cs]=Totem
Name[da]=Totem
Name[de]=Totem
Name[dz]=Totem
Name[el]=Totem
Name[eo]=Totem
Name[es]=Totem
Name[et]=Totem
Name[eu]=Totem
Name[fi]=Totem
Name[fr]=Totem
Name[ga]=Totem
Name[gl]=Totem
Name[gu]=Totem
Name[he]=Totem
Name[hi]=Totem
Name[hr]=Totem
Name[hu]=Totem
Name[id]=Totem
Name[it]=Totem
Name[ja]=Totem
Name[ka]=Totem
Name[kk]=Totem
Name[km]=Totem
Name[ko]=Totem
Name[ku]=Totem
Name[lt]=Totem
Name[mk]=Totem
Name[ml]=Totem
Name[mr]=Totem
Name[nb]=Totem
Name[ne]=Totem
Name[nl]=Totem
Name[nn]=Totem
Name[pa]=Totem
Name[pl]=Totem
Name[pt]=Totem
Name[pt_BR]=Totem
Name[ro]=Totem
Name[ru]=Totem
Name[sk]=Totem
Name[sq]=Totem
Name[sv]=Totem
Name[ta]=Totem
Name[th]=Totem
Name[tl]=Totem
Name[tr]=Totem
Name[uk]=Totem
Name[vi]=Totem
Name[wo]=Totem
Name[zh_CN]=Totem
Name[zh_TW]=Totem
Icon=/usr/share/pixmaps/totem.xpm
Exec=/usr/bin/totem
Terminal=false
Categories=X-Debian-Applications-Video;
