[Desktop Entry]
Version=1.0
Encoding=UTF-8
Hidden=false
Icon=application-vnd.openofficeorg.extension.png
Type=MimeType
Patterns=*.oxt
MimeType=application/vnd.openofficeorg.extension
Comment=OpenOffice.org Extension
Comment[en]=OpenOffice.org Extension
Comment[ar]=امتداد OpenOffice.org
Comment[as]=OpenOffice.org Extension
Comment[ast]=Estensión de OpenOffice.org
Comment[bg]=Разширение на OpenOffice.org
Comment[bn]=OpenOffice.org এক্সটেনশন
Comment[br]=Askouezhadenn OpenOffice.org
Comment[ca]=Extensió de l'OpenOffice.org
Comment[cs]=Rozšíření OpenOffice.org
Comment[cy]=Estyniad OpenOffice.org
Comment[da]=OpenOffice.org-udvidelse
Comment[de]=OpenOffice.org Extension
Comment[dz]=OpenOffice.org རྒྱ་བསྐྱེད།
Comment[en_GB]=OpenOffice.org Extension
Comment[eo]=Aldonaĵo de OpenOffice.org
Comment[es]=Extensión de OpenOffice.org
Comment[eu]=OpenOffice.org Hedapena
Comment[fr]=Extension OpenOffice.org
Comment[gu]=OpenOffice.org એક્સટેન્શન
Comment[hr]=Dodatak za OpenOffice.org
Comment[hu]=OpenOffice.org-kiterjesztés
Comment[id]=Ekstensi OpenOffice.org
Comment[it]=Estensione di OpenOffice.org
Comment[ja]=OpenOffice.org 拡張機能
Comment[ko]=OpenOffice.org 확장
Comment[lt]=„OpenOffice.org“ plėtinys
Comment[lv]=OpenOffice.org Paplašinājums
Comment[mk]=OpenOffice.org-екстензија
Comment[ml]=OpenOffice.org എക്സ്റ്റെന്‍ഷന്‍
Comment[mn]=OpenOffice.org Өргөтгөл
Comment[mr]=OpenOffice.org वाढ
Comment[ne]=OpenOffice.org विस्तार
Comment[nl]=OpenOffice.org-extensie
Comment[oc]=OpenOffice.org Extension
Comment[om]=Dheertoo OpenOffice.org
Comment[or]=OpenOffice.org ଅନୁଲଗ୍ନ
Comment[pa_IN]=OpenOffice.org ਐਕਸਟੇਸ਼ਨ
Comment[pl]=Rozszerzenie programu OpenOffice.org
Comment[pt_BR]=Extensão do OpenOffice.org
Comment[pt]=Extensão do OpenOffice.org
Comment[ru]=Расширение OpenOffice.org
Comment[rw]=Umugereka wa OpenOffice.org
Comment[si]=OpenOffice.org දිගුව
Comment[sl]=Razširitev OpenOffice.org
Comment[sv]=OpenOffice.org tillägg
Comment[ta]=OpenOffice.org நீட்சி
Comment[te]=OpenOffice.org పొడిగింపు
Comment[tg]=Изофаи OpenOffice.org
Comment[th]=OpenOffice.org Extension
Comment[tr]=OpenOffice.org Eklentisi
Comment[ug]=OpenOffice.org كېڭەيتىلمە
Comment[uk]=Розширення OpenOffice.org
Comment[uz]=OpenOffice.org Kengaytma
Comment[vi]=Phần mở rộng OpenOffice.org
Comment[zh_CN]=OpenOffice.org 扩展
Comment[zh_TW]=OpenOffice.org 擴充軟體
Comment[be_BY]=Прыстаўка OpenOffice.org
Comment[fi]=OpenOffice.org - Lisäosa
Comment[sk]=OpenOffice.org Rozšírenie
Comment[sr]=Додатак за OpenOffice.org
Comment[km]=ផ្នែក​បន្ថែម OpenOffice.org
Comment[ga]=Eisínteacht OpenOffice.org
Comment[et]=OpenOffice.org-i laiendus
Comment[he]=חבילה ‏‪OpenOffice.org‬‏‏
Comment[nb]=OpenOffice.org-utvidelse
Comment[nn]=OpenOffice.org-utviding
Comment[gl]=Extensión de OpenOffice.org
Comment[ro]=Extensie OpenOffice.org
Comment[el]=Επέκταση OpenOffice.org
