[Desktop Entry]
Name=Login Screen
Name[ast]=Pantalla d'identificación
Name[ca]=Pantalla d'entrada
Name[cs]=Přihlašovací obrazovka
Name[de]=Anmeldebildschirm
Name[es]=Pantalla de identificación
Name[et]=Sisselogimisaken
Name[fr]=Écran de connexion
Name[gu]=પ્રવેશ સ્ક્રિન
Name[ja]=ログイン画面
Name[pt]=Écran de Entrada
Name[pt_BR]=Tela de Autenticação
Name[ru]=Экран входа в систему
Name[vi]=Màn hình Đăng nhập
Comment=Configure login screen behavior
Comment[ast]=Configurar el comportamientu de la pantalla d'identificación
Comment[ca]=Configura el comportament de la pantalla d'entrada
Comment[cs]=Nastavit chování přihlašovací obrazovky
Comment[de]=Verhalten des Anmeldebildschirms konfigurieren
Comment[es]=Configurar el comportamiento de la pantalla de identificación
Comment[et]=Seadista sisselogimisakna käitumist
Comment[fr]=Configurer le comportement de l’écran de connexion
Comment[gu]=પ્રવેશ સ્ક્રિન વર્તણૂક ગોઠવો
Comment[ja]=ログイン画面の動作を設定する
Comment[pt]=Configurar o comportamento do écran de entrada
Comment[pt_BR]=Configurar o comportamento da tela de autenticação
Comment[ru]=Настроить поведение экрана входа в систему
Comment[vi]=Cấu hình ứng xử của màn hình đăng nhập
Exec=gdmsetup
Icon=gdmsetup
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gdm
X-GNOME-Bugzilla-Component=general
