[Desktop Entry]
Name=GNOME Onscreen Keyboard
Name[af]=GNOME-sleutelbord op die skerm
Name[ar]=لوحة مفاتيح الشاشة لجنوم
Name[as]=GNOME Onscreen Keyboard
Name[ast]=Tecláu en pantalla de GNOME
Name[be]=Экранная клавіятура GNOME
Name[be@latin]=Ekrannaja klavijatura GNOME
Name[bg]=Екранна клавиатура на GNOME
Name[bn]=GNOME অনস্ক্রিন কীবোর্ড
Name[bn_IN]=GNOME অন-স্ক্রিন কি-বোর্ড (gok)
Name[ca]=Teclat en pantalla del GNOME
Name[ca@valencia]=Teclat en pantalla del GNOME
Name[crh]=Ekran-üstü GNOME Klavyesi
Name[cs]=Klávesnice na obrazovce GNOME
Name[da]=GNOME-skærmtastatur
Name[de]=GNOME Bildschirmtastatur
Name[el]=Πληκτρολόγιο οθόνης GNOME
Name[en@shaw]=·𐑜𐑯𐑴𐑥 𐑭𐑯𐑕𐑒𐑮𐑰𐑯 𐑒𐑰𐑚𐑪𐑮𐑛
Name[en_GB]=GNOME On-screen Keyboard
Name[es]=Teclado en pantalla de GNOME
Name[et]=GNOME ekraaniklaviatuur
Name[eu]=GNOMEren pantailako teklatua
Name[fi]=Gnomen näyttönäppäimistö
Name[fr]=Clavier visuel GNOME
Name[ga]=Méarchlár Scáileáin GNOME
Name[gl]=Teclado en pantalla de GNOME
Name[gu]=GNOME ઓન-સ્ક્રીન કિબોર્ડ
Name[he]=מקלדת על המסך של GNOME
Name[hi]=GNOME ऑनस्क्रीन कुंजीपट
Name[hu]=GNOME képernyő-billentyűzet
Name[id]=Papan Ketik OnScreen GNOME
Name[it]=Tastiera a schermo di GNOME
Name[ja]=GNOME オンスクリーン・キーボード
Name[kk]=GNOME экрандағы пернетақта
Name[kn]=GNOME ತೆರೆಯ -ಮೇಲಣ ಕೀಲಿಮಣೆ
Name[ko]=그놈 화면 키보드
Name[ku]=GNOME klavyeya ekranê
Name[lt]=GNOME klaviatūra ekrane
Name[lv]=GNOME ekrāna tastatūra
Name[mai]=GNOME आनस्क्रीन कुंजीपटल
Name[mk]=Екранска тастатура на GNOME
Name[ml]=ഗ്നോം ഓണ്‍സ്ക്രീന്‍ കീബോര്‍ഡ്
Name[mr]=GNOME ऑनस्क्रीन कळफलक
Name[nb]=Tastatur på skjermen
Name[nds]=GNOME Billschirmknöppboord
Name[nl]=Gnome schermtoetsenbord
Name[nn]=GNOME tastatur på skjermen
Name[oc]=Clavièr visual GNOME
Name[or]=GNOME ଅନସ୍କ୍ରିନ କି ବୋର୍ଡ
Name[pa]=ਗਨੋਮ ਆਨ-ਸਕਰੀਨ ਕੀਬੋਰਡ
Name[pl]=Klawiatura ekranowa GNOME
Name[pt]=Teclado no Ecrã do GNOME
Name[pt_BR]=Teclado virtual do GNOME
Name[ro]=Tastatura virtuală GNOME
Name[ru]=Экранная клавиатура
Name[sk]=Klávesnica na obrazovke
Name[sl]=GNOME zaslonska tipkovnica
Name[sq]=Tastiera në ekran për GNOME
Name[sr]=Гномова тастатура на екрану
Name[sr@latin]=Gnomova tastatura na ekranu
Name[sv]=GNOME Skärmtangentbord
Name[ta]=GNOME திரை விசைப்பலகை
Name[te]=GNOME తెరపైని కీబోర్డు
Name[th]=แป้นพิมพ์บนจอของ GNOME
Name[tr]=GNOME Ekran Klavyesi
Name[ug]=GNOME ئېكران ھەرپتاختىسى
Name[uk]=Екранна клавіатура GNOME
Name[uz]=GNOME ekran klaviaturasi
Name[uz@cyrillic]=GNOME экран клавиатураси
Name[vi]=Bàn phím Màn hình GNOME
Name[zh_CN]=GNOME 屏幕键盘
Name[zh_HK]=GNOME 螢幕鍵盤
Name[zh_TW]=GNOME 螢幕鍵盤
Comment=Use an onscreen keyboard
Comment[af]=Gebruik 'n sleutelbord op die skerm
Comment[ar]=استخدم لوحة مفاتيح الشاشة
Comment[as]=এটা পৰ্দ্দাত দেখা চাবিৰ ফলক ব্যৱহাৰ কৰক
Comment[ast]=Usar un tecláu en pantalla
Comment[be]=Выкарыстоўваць віртуальную клавіятуру
Comment[be@latin]=Klavijatura na ekranie
Comment[bg]=Включване на екранната клавиатура
Comment[bn]=পর্দায় স্থাপিত কীবোর্ড ব্যবহার করা হবে
Comment[bn_IN]=পর্দায় স্থাপিত কি-বোর্ড ব্যবহার করা হবে
Comment[ca]=Utilitza un teclat en pantalla
Comment[ca@valencia]=Utilitza un teclat en pantalla
Comment[crh]=Bir ekran-üstü klavye qullan
Comment[cs]=Použije klávesnici na obrazovce
Comment[da]=Brug et skærmtastatur
Comment[de]=Tastatur auf dem Bildschirm verwenden
Comment[el]=Ενεργοποίηση πληκτρολογίου οθόνης
Comment[en@shaw]=𐑿𐑟 𐑩𐑯 𐑭𐑯𐑕𐑒𐑮𐑰𐑯 𐑒𐑰𐑚𐑪𐑮𐑛
Comment[en_GB]=Use an on-screen keyboard
Comment[es]=Usar un teclado en pantalla
Comment[et]=Ekraaniklaviatuuri kasutamine
Comment[eu]=Erabili pantailako teklatua
Comment[fi]=Näytä näppäimistö näytöllä
Comment[fr]=Utilise un clavier affiché à l'écran
Comment[gl]=Usar un teclado en pantalla
Comment[gu]=ઓન-સ્ક્રીન કિબોર્ડ ને વાપરો
Comment[he]=השתמש במקלדת על המסך
Comment[hi]=ऑनस्क्रीन कुंजीपट का प्रयोग करें
Comment[hu]=Képernyő-billentyűzet használata
Comment[id]=Gunakan papan ketik pada layar
Comment[it]=Usa una tastiera a schermo
Comment[ja]=オンスクリーン・キーボードを使用します
Comment[kk]=Экрандағы пернетақтаны қолдану
Comment[kn]=ತೆರೆಯಮೇಲಣ ಕೀಲಿಮಣೆಯನ್ನು ಬಳಸಿ
Comment[ko]=화면 키보드 사용
Comment[lt]=Naudoti klaviatūrą ekrane
Comment[lv]=Izmantot ekrāna tastatūru
Comment[mai]=आनस्क्रीन कुंजीपटललक प्रयोग करू
Comment[mk]=Користи екранска тастатура
Comment[ml]=ഒരു ഓണ്‍സ്ക്രീന്‍ കീബോര്‍ഡ് ഉപയോഗിക്കുക
Comment[mr]=ऑनस्क्रीन कळफलक वापरा
Comment[nb]=Bruk tastatur på skjermen
Comment[nds]=Billschirmknöpppboord bruken
Comment[nl]=Schermtoetsenbord gebruiken
Comment[nn]=Vis tastatur på skjermen
Comment[oc]=Utiliza un clavièr afichat a l'ecran
Comment[or]=ଗୋଟିଏ ଅନସ୍କ୍ରିନ କି ବୋର୍ଡ ବ୍ୟବହାର କରନ୍ତୁ
Comment[pa]=ਆਨ-ਸਕਰੀਨ ਕੀ-ਬੋਰਡ ਵਰਤੋਂ
Comment[pl]=Użycie klawiatury ekranowej
Comment[pt]=Utilizar um teclado no ecrã
Comment[pt_BR]=Usar um teclado virtual
Comment[ro]=Utilizează o tastatură virtuală
Comment[ru]=Включает экранную клавиатуру
Comment[sk]=Použije sa klávesnica na obrazovke
Comment[sl]=Uporabi zaslonsko tipkovnico
Comment[sq]=Përdor një tastierë në ekran
Comment[sr]=Користи тастатуру на екрану
Comment[sr@latin]=Koristi tastaturu na ekranu
Comment[sv]=Använd ett skärmtangentbord
Comment[ta]=திரை விசைப்பலகையை பயன்படுத்தவும்
Comment[te]=తెర-పైన కీబోర్డును ‌వుపయోగించుము
Comment[th]=ใช้แป้นพิมพ์บนจอ
Comment[tr]=Bir ekran klavyesi kullanın
Comment[ug]=ئېكران ھەرپتاختىسىنى ئىشلىتىدۇ
Comment[uk]=Використовувати наекранну клавіатуру
Comment[vi]=Dùng bàn phím trên màn hình
Comment[zh_CN]=使用屏幕键盘
Comment[zh_HK]=使用螢幕鍵盤
Comment[zh_TW]=使用螢幕鍵盤
TryExec=cellwriter
Exec=cellwriter --login --access-method=directselection
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Accessibility;
AutostartCondition=GNOME /desktop/gnome/applications/at/screen_keyboard_enabled
X-GNOME-Provides=screen-keyboard
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gok
X-GNOME-Bugzilla-Component=general

